<?xml version="1.0"?>

<launch>
  <arg name="joy_dev" default="/dev/input/js0" />
  
  <!-- Crazyflie 1 args -->
  <arg name="uri1" default="radio://0/105/2M/0xE7E7E7E701" />
  <arg name="frame1" default="crazyflie1/crazyflie1" />

  <!-- Launch server -->
  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch">
  </include>

  <!-- Create crazyflie -->
  <group ns="crazyflie1">

    <param name="TEST_CF" value="50" />

    <!-- Initiate joystick -->
    <node name="joy" pkg="joy" type="joy_node" output="screen" >
    <param name="dev" value="$(arg joy_dev)" />
    </node>

    <!-- Add it to the server -->
    <include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
      <arg name="uri" value="$(arg uri1)" />
      <arg name="tf_prefix" value="crazyflie1" />
      <arg name="enable_logging" value="True" />

      <arg name="roll_trim" default="0" />
      <arg name="pitch_trim" default="0" />

      <arg name="use_ros_time" default="True" />
      <arg name="enable_logging_imu" default="True" />
      <arg name="enable_logging_temperature" default="True" />
      <arg name="enable_logging_magnetic_field" default="True" />
      <arg name="enable_logging_pressure" default="True" />
      <arg name="enable_logging_battery" default="True" />
      <arg name="enable_logging_pose" default="True" />
      <arg name="enable_logging_packets" default="True" />
    </include>

    <!-- Map controller buttons to services -->
    <node name="crazyflie_joystick_controller" pkg="crazyflie_charles" type="joy_controller.py" output="screen">
      <param name="use_crazyflie_controller" value="False" />
      <!-- <param name="joy_topic" value="/joy" /> -->
    </node>

    <!-- Start quadrotor_teleop -->
    <include file="$(find crazyflie_charles)/launch/ds4.launch">
    </include>

    <!-- Position frame -->
    <node pkg="tf" type="static_transform_publisher" name="baselink_broadcaster" args="0 0 0 0 0 0 1 $(arg frame1) /crazyflie1/base_link 100" />
  
    <node name="crazyflie_broadcaster" pkg="crazyflie_charles" type="crazyflie_tf.py" output="screen">
      <param name="cf_name" value="crazyflie1" />
      <param name="frame" value="$(arg frame1)" />
    </node>

  </group>

  <!-- run rviz -->
  <param name="robot_description" command="$(find xacro)/xacro.py $(find crazyflie_description)/urdf/crazyflie.urdf.xacro" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find crazyflie_charles)/launch/crazyflie_pos.rviz" required="true" />

  <!-- <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot" args="/crazyflie/temperature/temperature"/>
  <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot2" args="/crazyflie/battery"/>
  <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot3" args="/crazyflie/rssi"/> -->
</launch>
