<?xml version="1.0"?>
<launch>
    <arg name="to_sim" default="True" />
    <arg name="joy_dev" default="/dev/input/js0" />
    <arg name="to_save" default="False" />

    <rosparam command="load" file="$(find swarm_manager)/launch/swarm_conf.yaml" />

    <!-- Launch server -->
    <group unless="$(arg to_sim)">
        <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch">
        </include>
    </group>

    <!-- Initiate joystick -->
    <node name="joy" pkg="joy" type="joy_node" output="screen" >
        <param name="dev" value="$(arg joy_dev)" />
    </node>

    <!-- Launch swarm controller-->
    <node name="swarm_controller" pkg="swarm_manager" type="swarm_controller.py" output="screen">
        <param name="to_sim" value="$(arg to_sim)"/>
    </node>

    <!-- Launch formation manager-->
    <node name="formation_manager" pkg="formation_manager" type="formation_manager.py" output="screen" />

    <!-- Launch trajectory planner -->
    <node name="trajectory_planner" pkg="trajectory_planner" type="trajectory_planner_ros.py" output="screen" />

    <!-- Launch flight recorder -->
    <node name="flight_recorder" pkg="swarm_manager" type="flight_recorder.py" output="screen">
        <param name="to_save" value="$(arg to_save)"/>
    </node>

    <!-- rviz -->
    <node name="rviz_markers" pkg="swarm_manager" type="rviz_markers.py" output="screen" />
    <param name="cf_description" command="$(find xacro)/xacro $(find crazyflie_description)/urdf/crazyflie.urdf.xacro" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find swarm_manager)/launch/crazyflie_pos.rviz" required="true" />

</launch>
